@model PizzaDelivery.ViewModel.ViewModels.Ordering.DeliveryInfoVM
@{
    ViewData["Title"] = "DeliveryInfo";
}
<script type="text/javascript">
    jQuery(function ($) {
        $("#ClientPhoneNumber").mask("+7(999) 999-9999");
    });
</script>

<h2>Доставка</h2>

@using (Html.BeginForm("SaveDeliveryInformation", "DeliveryInfo", Model, FormMethod.Post))
{
    <table class="delivery_info">
        <tr>
            <td>@Html.DisplayNameFor(x => x.ClientName)</td>
            <td>
                @Html.EditorFor(x => x.ClientName)
                @Html.ValidationMessageFor(x => x.ClientName)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.ClientPhoneNumber)</td>
            <td>
                @Html.EditorFor(x => x.ClientPhoneNumber)
                @Html.ValidationMessageFor(x => x.ClientPhoneNumber)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.DeliveryAddress)</td>
            <td class="delivery_address">@Html.EditorFor(x => x.DeliveryAddress)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.CommentToOperator)</td>
            <td>@Html.EditorFor(x => x.CommentToOperator)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.ShipmenAtOwnExpense)</td>
            <td>@Html.EditorFor(x => x.ShipmenAtOwnExpense)</td>
        </tr>
    </table>
    <div class="delivery_info_btn">
        <button class="btn btn-primary" type="submit">Оплата</button>
    </div>
}