@model PizzaDelivery.ViewModel.ViewModels.Ordering.DeliveryInfoVM
@{
    ViewData["Title"] = "DeliveryInfo";
}

<h2>DeliveryInfo</h2>

@Html.DisplayFor(x => x.StoreAddress)

@using (Html.BeginForm("SaveDeliveryInformation", "DeliveryInfo", Model, FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(x => x.ClientName)</td>
            <td>@Html.EditorFor(x => x.ClientName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.ClientPhoneNumber)</td>
            <td>@Html.EditorFor(x => x.ClientPhoneNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.DeliveryAddress)</td>
            <td>@Html.EditorFor(x => x.DeliveryAddress)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.CommentToOperator)</td>
            <td>@Html.EditorFor(x => x.CommentToOperator)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.ShipmenAtOwnExpense)</td>
            <td>@Html.EditorFor(x => x.ShipmenAtOwnExpense)</td>
        </tr>
    </table>
    
    <button class="btn btn-primary" type="submit">Оплата</button>
}