@using PizzaDelivery.ViewModel.ViewModels.Ordering
@model PizzaDelivery.ViewModel.ViewModels.Ordering.PaymentInfoVM
@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

@using (Html.BeginForm("SavePaymentInfo", "Payment", Model, FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(x => x.CardNumber)</td>
            <td>@Html.EditorFor(x => x.CardNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.CardOwnerName)</td>
            <td>@Html.EditorFor(x => x.CardOwnerName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.DateTo)</td>
            <td>@Html.EditorFor(x => x.DateTo)</td>
        </tr>
        <tr>@Html.DropDownListFor(x => x.PaymentType, new List<SelectListItem>(Enum.GetNames(typeof(PaymentType)).Select(x => new SelectListItem() { Text = x, Value = x })))</tr>
    </table>

    <button class="btn btn-primary" type="submit">Оплата</button>
}
