@using PizzaDelivery.Extensions
@using PizzaDelivery.ViewModel.ViewModels.Ordering
@model PizzaDelivery.ViewModel.ViewModels.Ordering.PaymentInfoVM
@{
    ViewData["Title"] = "Payment";
}

<h2>Оплата</h2>

@using (Html.BeginForm("SavePaymentInfo", "Payment", Model, FormMethod.Post))
{
    <table class="delivery_info">
        <tr id="CardNumberTR">
            <td>@Html.DisplayNameFor(x => x.CardNumber)</td>
            <td>@Html.EditorFor(x => x.CardNumber)</td>
        </tr>
        <tr id="CardOwnerNameTR">
            <td>@Html.DisplayNameFor(x => x.CardOwnerName)</td>
            <td>@Html.EditorFor(x => x.CardOwnerName)</td>
        </tr>
        <tr id="DateToTR">
            <td>@Html.DisplayNameFor(x => x.DateTo)</td>
            <td>@Html.EditorFor(x => x.DateTo)</td>
        </tr>
        <tr>@Html.DropDownListFor(x => x.PaymentType, new List<SelectListItem>(typeof(PaymentType).GetEnumValues<PaymentType>().Select(x => new SelectListItem() { Text = x.GetDescription(), Value = x.ToString() })))</tr>
        @if (Model.Bonuses > 0)
        {
            <tr>
                <td>@Html.DisplayNameFor(x => x.Bonuses)</td>
                <td>@Html.DisplayFor(x => x.Bonuses)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(x => x.PayByBonuses)</td>
                <td>@Html.EditorFor(x => x.PayByBonuses)</td>
            </tr>
        }
    </table>
    <div class="delivery_info_btn">
        <button class="btn btn-primary" type="submit">Заказать</button>
    </div>
}