@model PizzaDelivery.ViewModel.ViewModels.Main.PizzaPage.PizzaPageVM
@{
    ViewData["Title"] = "Main";
}

<div class="product_grid">
    @for (var i = 0; i < Model.PizzaList.Count; i++)
    {
        var orderPosition = Model.PizzaList[i];
        using (Html.BeginForm("AddToShoppingCard", "Main", orderPosition, FormMethod.Post, null, new { id = "MyForm_" + i }))
        {
            @Html.HiddenFor(x => orderPosition.Pizza.Id)
            @Html.HiddenFor(x => orderPosition.Pizza.Name)
            @Html.HiddenFor(x => orderPosition.Pizza.Recipe)
            @Html.HiddenFor(x => orderPosition.Pizza.Cost)
            <div class="item" >
                <div class="image_item">
                        <img src="~/images/pizza_img_1.jpg">
                    @*</a>*@
                </div>
                <div class="caption">
                    <div class="name">
                        <a>@Html.DisplayFor(x => orderPosition.Pizza.Name)</a>
                    </div>
                    <div class="recipe">
                        @Html.DisplayFor(x => orderPosition.Pizza.Recipe)
                    </div>
                    <div class="Cost">
                        <span>@Html.DisplayFor(x => orderPosition.Pizza.Cost) ₽</span>
                    </div>
                    <div class="add_and_count">
                        <button class="btn btn-primary" type="button" onclick="putPizzaInShoppingCart($('#MyForm_@i'));">Добавить</button>
                        <div class="count">
                            @Html.EditorFor(x => orderPosition.Count)
                        </div>
                        <input type="button" class="btn btn-primary" value="Редактировать" onclick="location.href='@Url.Action("OpenEditPizzaPage", "Main", new { pizzaId = Model.PizzaList[i].Pizza.Id })'" />
                    </div>
                </div>
            </div>
        }
    }
            <div class="item" style="vertical-align:central">
                <input type="button" class="btn btn-primary" value="Новая пицца" onclick="location.href='@Url.Action("CreateNewPizzaPage", "Main")'" />
            </div>
</div>
