@model PizzaDelivery.ViewModel.ViewModels.Ordering.ShoppingCartVM
@{
    ViewData["Title"] = "ShoppingCart";
    var shoppingCart = Model;
}

<h2>Корзина</h2>

@using (Html.BeginForm("GoToDelivery", "ShoppingCart", shoppingCart, FormMethod.Post))
{
    <table class="shopping_cart_grid" id="@Html.IdFor(x => shoppingCart)">
        <tbody>
            @for (var i = 0; i < Model.Products.Count; i++)
            {
               @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Id)
                @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Name)
                @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Recipe)
                @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Cost)
                @Html.HiddenFor(x => shoppingCart.Products[i].Sum)
                <tr class="shopping_cart_item">
                    <td>
                        <div class="image_item_shopping_cart">
                            <img src="~/images/pizza_img_1.jpg">
                        </div>
                    </td>
                    <td>
                        <div class="name">
                            <span>@Html.DisplayFor(x => shoppingCart.Products[i].Pizza.Name)</span>
                        </div>
                    </td>
                    <td>
                        <div class="recipe">
                            <span>@Html.DisplayFor(x => shoppingCart.Products[i].Pizza.Recipe)</span>
                        </div>
                    </td>
                    <td>
                        <div class="cost">
                            <span>@Html.DisplayFor(x => shoppingCart.Products[i].Pizza.Cost) ₽</span>
                        </div>
                    </td>
                    <td>
                        <div class="count">
                            @Html.EditorFor(x => shoppingCart.Products[i].Count)
                        </div>
                    </td>
                    <td>
                        <div class="sum">
                            <span>@Html.DisplayFor(x => shoppingCart.Products[i].Sum) ₽</span>
                        </div>
                    </td>
                    <td>
                        <div class="add_and_count">
                            <button class="btn btn-primary" type="button" onclick="delPizzaInShoppingCart('@shoppingCart.Products[i].Pizza.Id.ToString()');">Удалить</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        @*<table>
                <tbody id="@Html.IdFor(x => shoppingCart)">
                    @for (var i = 0; i < Model.Products.Count; i++)
                    {
                        @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Id)
                        @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Name)
                        @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Recipe)
                        @Html.HiddenFor(x => shoppingCart.Products[i].Pizza.Cost)
                        @Html.HiddenFor(x => shoppingCart.Products[i].Sum)
                        <tr>
                            <td>@Html.DisplayFor(x => shoppingCart.Products[i].Pizza.Name)</td>
                            <td>@Html.DisplayFor(x => shoppingCart.Products[i].Pizza.Recipe)</td>
                            <td>@Html.DisplayFor(x => shoppingCart.Products[i].Pizza.Cost)</td>
                            <td>@Html.EditorFor(x => shoppingCart.Products[i].Count)</td>
                            <td>@Html.DisplayFor(x => shoppingCart.Products[i].Sum)</td>
                        </tr>
                    }
                </tbody>
            </table>*@
    <div class="sum_shopping_cart">
        <span class="sum_shopping_cart_title">
            @Html.DisplayNameFor(x => shoppingCart.SumOrderPrice):
        </span>
        <span>
            @Html.DisplayFor(x => shoppingCart.SumOrderPrice) ₽
        </span>
    </div>
    <button class="btn btn-primary" type="submit">Доставка</button>
}
