@model IEnumerable<PizzaDelivery.ViewModel.ViewModels.Ordering.OrderPositionVM>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.PizzaName)</td>
            <td>@Html.DisplayFor(x => item.PizzaRecipe)</td>
            <td>@Html.DisplayFor(x => item.Cost)</td>
            <td>@Html.EditorFor(x => item.Count)</td>
            <td>@Html.DisplayFor(x => item.Sum)</td>
        </tr>
    }
</table>