@model PizzaDelivery.ViewModel.ViewModels.PersonalPages.Client.RegistrationVM
@{
    ViewData["Title"] = "Регистрация";
}

@using (Html.BeginForm("RegisterPerson", "Registration", Model, FormMethod.Post))
{
    <table style="padding: 30px 30px 30px 30px" cellspacing="30">
        <tr>
            <td>Логин</td>
            <td>@Html.EditorFor(x => x.Login)</td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>@Html.EditorFor(x => x.Password)</td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td>@Html.EditorFor(x => x.FullName)</td>
        </tr>
        <tr>
            <td>Эл. почта</td>
            <td>@Html.EditorFor(x => x.Email)</td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td>@Html.EditorFor(x => x.PhoneNumber)</td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>@Html.EditorFor(x => x.Birthday)</td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>@Html.EditorFor(x => x.Address)</td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Регистрация</button>
}