@using PizzaDelivery.ViewModel.ViewModels.Ordering
@model PizzaDelivery.ViewModel.ViewModels.PersonalPages.Operator.NewOrdersVM
@{
    ViewData["Title"] = "OrderHistory";
}

<a class="btn btn-primary" href="@Url.Action("NewOrdersPage", "PersonPage")">Новые заказы</a>
<a class="btn btn-primary" href="@Url.Action("PersonalOrdersPage", "PersonPage")">Обработанные заказов</a>

<h2>Новые заказы</h2>


@foreach (OrderVM order in Model.OrderList)
{
    <div class="order_item" id="@order.Id">
        <div class="sum_shopping_cart">
            <span class="sum_shopping_cart_title">
                @Html.DisplayNameFor(x => order.Number):
            </span>
            <span>
                @Html.DisplayFor(x => order.Number)
            </span>
        </div>
            <table class="order_element">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <table class="shopping_cart_grid">
                                    @foreach (OrderPositionVM position in order.ShoppingCart.Products)
                                    {
                                    <tr class="shopping_cart_item">
                                        <td>
                                            <div class="name">
                                                <span>@Html.DisplayFor(x => position.Pizza.Name)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cost">
                                                <span>@Html.DisplayFor(x => position.Pizza.Cost) ₽</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="count">
                                                @Html.DisplayFor(x => position.Count)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="sum">
                                                <span>@Html.DisplayFor(x => position.Sum) ₽</span>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    <td>
                        <div class="comment">
                            <div>
                                <span>@Html.DisplayNameFor(x => order.PaymentInfo.PaymentType): </span>
                                <span>@Html.DisplayFor(x => order.PaymentInfo.PaymentType)</span>
                            </div>
                            <div>
                                <span>@Html.DisplayNameFor(x => order.DeliveryInfo.ClientName): </span>
                                <span>@Html.DisplayFor(x => order.DeliveryInfo.ClientName)</span>
                            </div>
                            <div>
                                <span>@Html.DisplayNameFor(x => order.DeliveryInfo.ClientPhoneNumber): </span>
                                <span>@Html.DisplayFor(x => order.DeliveryInfo.ClientPhoneNumber)</span>
                            </div>
                            <div>
                                <span>Комментарий: </span>
                                <span>@Html.DisplayFor(x => order.DeliveryInfo.CommentToOperator)</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="for_button">
                            <div class="add_button">
                                <button class="btn btn-primary" type="button" onclick="okOrderInOrderNew('@order.Id.ToString()');">Принять</button>
                            </div>
                            <div class="del_button">
                                <button class="btn btn-primary" type="button" onclick="delOrderInOrderNew('@order.Id.ToString()');">Удалить</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="sum_shopping_cart">
            <span class="sum_shopping_cart_title">
                @Html.DisplayNameFor(x => order.ShoppingCart.SumOrderPrice):
            </span>
            <span>
                @Html.DisplayFor(x => order.ShoppingCart.SumOrderPrice) ₽
            </span>
        </div>
    </div>
}