@using PizzaDelivery.ViewModel.ViewModels.Ordering
@model PizzaDelivery.ViewModel.ViewModels.PersonalPages.Operator.NewOrdersVM
@{
    ViewData["Title"] = "OrderHistory";
}

<a class="btn btn-primary" href="@Url.Action("NewOrdersPage", "PersonPage")">Новые заказы</a>
<a class="btn btn-primary" href="@Url.Action("PersonalOrdersPage", "PersonPage")">Обработанные заказов</a>

<h2>Новые заказы</h2>


@foreach (OrderVM order in Model.OrderList)
{
    <div class="order_item">
        <div class="sum_shopping_cart">
            <span class="sum_shopping_cart_title">
                @Html.DisplayNameFor(x => order.Number):
            </span>
            <span>
                @Html.DisplayFor(x => order.Number)
            </span>
        </div>
        <table class="shopping_cart_grid">
            <tbody>
                @foreach (OrderPositionVM position in order.ShoppingCart.Products)
                {
                    <tr class="shopping_cart_item">
                        <td>
                            <div class="image_item_shopping_cart">
                                <img src="~/images/pizza_img_1.jpg">
                            </div>
                        </td>
                        <td>
                            <div class="name">
                                <span>@Html.DisplayFor(x => position.Pizza.Name)</span>
                            </div>
                        </td>
                        <td>
                            <div class="cost">
                                <span>@Html.DisplayFor(x => position.Pizza.Cost) ₽</span>
                            </div>
                        </td>
                        <td>
                            <div class="count">
                                @Html.DisplayFor(x => position.Count)
                            </div>
                        </td>
                        <td>
                            <div class="sum">
                                <span>@Html.DisplayFor(x => position.Sum) ₽</span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="sum_shopping_cart">
            <span class="sum_shopping_cart_title">
                @Html.DisplayNameFor(x => order.ShoppingCart.SumOrderPrice):
            </span>
            <span>
                @Html.DisplayFor(x => order.ShoppingCart.SumOrderPrice) ₽
            </span>
        </div>
    </div>
}