@using PizzaDelivery.ViewModel.ViewModels.Ordering
@model PizzaDelivery.ViewModel.ViewModels.PersonalPages.Client.OrderHistoryVM
@{
    ViewData["Title"] = "OrderHistory";
}

<h2>OrderHistory</h2>


@foreach (OrderVM order in Model.OrderList)
{
    <td>@Html.DisplayNameFor(x => order.Number)</td>
    <td>@Html.DisplayFor(x => order.Number)</td>
    <table>
        @foreach (OrderPositionVM position in order.ShoppingCart.Products)
        {
            <tr>
                <td>@Html.DisplayNameFor(x => position.PizzaName)</td>
                <td>@Html.DisplayNameFor(x => position.PizzaRecipe)</td>
                <td>@Html.DisplayNameFor(x => position.Cost)</td>
                <td>@Html.DisplayNameFor(x => position.Count)</td>
                <td>@Html.DisplayNameFor(x => position.Sum)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(x => position.PizzaName)</td>
                <td>@Html.DisplayFor(x => position.PizzaRecipe)</td>
                <td>@Html.DisplayFor(x => position.Cost)</td>
                <td>@Html.DisplayFor(x => position.Count)</td>
                <td>@Html.DisplayFor(x => position.Sum)</td>
            </tr>
        }
    </table>
    @Html.DisplayNameFor(x => order.ShoppingCart.SumOrderPrice)
    @Html.DisplayFor(x => order.ShoppingCart.SumOrderPrice)
}