@model PizzaDelivery.ViewModel.ViewModels.PersonalPages.Client.PersonalInfoVM
@{
    ViewData["Title"] = "PersonalInfo";
}

<h2>Личные данные</h2>

<table class="registration">
    <tr>
        <td>@Html.DisplayNameFor(x => x.FIO):</td>
        <td>@Html.DisplayFor(x => x.FIO)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Birthday):</td>
        <td>@Html.DisplayFor(x => x.Birthday)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.PhoneNumber):</td>
        <td>@Html.DisplayFor(x => x.PhoneNumber)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Email):</td>
        <td>@Html.DisplayFor(x => x.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.BonusPoints):</td>
        <td>@Html.DisplayFor(x => x.BonusPoints)</td>
    </tr>
</table>