@model PizzaDelivery.ViewModel.ViewModels.Ordering.OrderPositionVM

<tr>
    <td>@Html.DisplayFor(x => x.Pizza.Name)</td>
    <td>@Html.DisplayFor(x => x.Pizza.Recipe)</td>
    <td>@Html.DisplayFor(x => x.Pizza.Cost)</td>
    <td>@Html.EditorFor(x => x.Count)</td>
    <td>@Html.DisplayFor(x => x.Sum)</td>
</tr>